body {
  background-color: #ffb380;
}
.box{
  width: 99vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;

}
.puntaje{
  font-family: Helvetica, sans-serif;
  position: relative;
  top: 10%;
  left: 50%;
  background-color: #fff;
}

canvas {
  position: absolute;
}

.ctn {
  position: relative;
  width: 360px;
  height: 640px;
}

#scoreboard {
  position: absolute;
  top: 540px;
  width: 360px;
  text-align: center;
  font-size: 80px;
  color: #333333;
}

#start-screen {
  position: absolute;
  top: 20px;
}

#gameover-screen {
  visibility: hidden;
  position: absolute;
  width: 360px;
  height: 640px;
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}

#gameover {
  width: 280px;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 30px;
  letter-spacing: 4px;
  margin-left: 20px ;
  margin-top: 180px;
}

#replay {
  width: 100px;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 4px;
  transition: background-color 1s;
  margin: 100px auto;
}

#replay:hover {
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}
#facil {
  width: 100px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 4px;
  transition: background-color 0.1s;
  margin: 69px 10px ;
}

#facil:hover {
  color: #333333;
  cursor: pointer;
}
#medio {
  width: 100px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 4px;
  transition: background-color 0.1s;
  margin: 69px 10px ;
}

#medio:hover {
  color: #333333;
  cursor: pointer;
}
#dificil {
  width: 100px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 4px;
  transition: background-color 0.1s;
  margin: 69px 10px ;
}

#dificil:hover {
  color: #333333;
  cursor: pointer;
}

.dificultades{
  display: flex;
  
}

.img-dificultades:hover{ 
  filter: invert(100%);
}

#ctrl-ctn {
  position: absolute;
  top: 300px;
  left: 80px;
  opacity: 1;
  transition: opacity 1s;
}

.ctrl-btn {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 8px 16px;
  margin: 10px;
}
.no-link{
  text-decoration: none;
}
.volver{
  background-color: #333333;
  padding: 3% 1%;
  height:3%;
  width: 95.5%;
  color: #fff;

}
